<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Manim Script Editor</title>
    
    <link rel="stylesheet" href="https://latex.vercel.app/style.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/base16-light.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images\bourdon.ico' %}">

</head>
<body>
    <h1>Manim Script Editor</h1>
    <div class="loader" id="loader1" style="display: none;"></div> 
    <form id="form" method="post" action="{% url 'generate_video' %}">
        {% csrf_token %}

        <!-- Textarea target of CodeMirror -->
        <textarea id="code-editor" name="code" placeholder="Type your Python script here...">
from manim import *
    class output(Scene):
        def construct(self):
            pass
        </textarea>

        <div class="loader" id="loader2" style="display: none;"></div><br>
        <button id="generate" type="submit" >Generate</button>
    </form>
    
    <br>
    <a href="{% url 'home' %}">Go back</a>


    

    <!-- Custom JS -->
    <script src="{% static 'js/scripts.js' %}"></script>

    <!-- CodeMirror JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/matchbrackets.min.js"></script>

    <!-- CodeMirror init -->
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById('code-editor'), {
            mode: "python",
            lineNumbers: true,
            theme: "base16-light",
            indentUnit: 4,
            tabSize: 4,
            matchBrackets: true,    
        });
    </script>
</body>
</html>
